<!DOCTYPE html>
<html lang="ja">
    <head>
	    <title>AddTest</title>
	    <style type="text/css">
		    input { width: 300px; height:20px; line-height: 20px; border-radius: 5px; margin-right: 100px};
		    label { margin-left: auto;}
		    div.inputText {width:700px; margin-top: 20px;}
	    </style>
	    <link rel='stylesheet' type='text/css' href='/style/stylesheet.css'/>
    	<link rel='stylesheet' type='text/css' href='/style/newsContentStyle.css'/>
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <script type="text/javascript">
	    	var basePath;
	        function postParams(params, postPath) {
				$("fieldset input").each(function() {
					var name = $(this).attr('id');
					var type = $(this).attr('type');
					if (type === 'checkbox') {
						params[name] = $(this).prop('checked')
					}
					else {
						params[name] = $(this).val();
					}
				});

				$("fieldset textarea").each(function() {
					var name = $(this).attr('id');
					params[name] = $(this).val();
				});
				
	        	$.post(postPath, params, function(data){
	        		if (data.err) {
	        			alert(data.err);
	        		};

	        		window.location = basePath;
	        	}, "json");
	        }

	        $(document).ready(function() {
	        	var params = <%-JSON.stringify(test)%>;
	        	var editColumns = <%-JSON.stringify(editColumns)%>;
	        	basePath = <%-JSON.stringify(basePath)%>
	        	var postPath = basePath + '/post';
	        	if (!params) {
	        		params = {};
	        	}

	        	// var form = $("<form>").attr({id:"postTestForm", method:"post"});
	        	var fieldset = $("fieldset");
	        	var preview;
	        	for (var i in editColumns) {
	        		var columnName = editColumns[i];

	        		var formGroup = $("<div>").addClass("form-group");
	        		var label = $("<label>").addClass("col-md-3 control-label").text(columnName).attr({for:columnName});
	        		var div = $("<div>").addClass("col-md-9");
	        		var input;

	        		if (columnName === "content") {
	        			input = $("<textarea>").attr({id:columnName, name:columnName}).addClass("form-control").css({height:"200px"});
		        		if (params.hasOwnProperty(columnName)) {
		        			input.val(params[columnName]);
		        		}	    
		        		var button = $("<button>").addClass("btn btn-sm text-center").attr({type:"button"}).text("Preview").click(function() {
		        			var content = $("fieldset textarea").val();
		        			$(".media").empty().append(content);
		        		});
	                    var mediaBox = $("<div>").addClass("brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing text-center").css({"width":"540px"});
	                    var media = $("<div>").addClass("media");
	                    mediaBox.append(media);
	                    preview = $("<div>").css({"width":"540px"}).append(button).append(mediaBox);
	        		}
	        		else {
	        			input = $("<input>").attr({id:columnName, name:columnName}).addClass("form-control");
		        		if (columnName === "published") {
		        			input.attr({type:"checkbox"});
		        			if (params.hasOwnProperty(columnName)) {
		        				input.prop('checked', params[columnName]);
		        			}
		        		}
		        		else {
		        			input.attr({type:"text"});
			        		if (params.hasOwnProperty(columnName)) {
			        			input.val(params[columnName]);
			        		}
		        		}
	        		}
	        		div.append(input);
	        		formGroup.append(label).append(div);
	        		fieldset.append(formGroup);
	        		if (preview) {
	        			fieldset.append(preview);
	        		}
	        	};

		        var formGroup = $("<div>").addClass("form-group");
		        var div = $("<div>").addClass("col-md-12 text-right");
	        	var postBtn = $("<button>").attr({type:"button"}).addClass("btn btn-primary btn-lg").text("Submit");
	        	postBtn.click(function() {
	        		postParams(params, postPath);
	        	});

	        	div.append(postBtn);
	        	formGroup.append(div);
	        	fieldset.append(formGroup);
			});
	    </script>
    </head>
    <body>
		<div class="container">
			<div class="row">
		      <div class="col-md-6 col-md-offset-3">
		        <div class="well well-sm">
		          <form class="form-horizontal" action="" method="post">
		          <fieldset>
		            <legend class="text-center">Edit</legend>
				  </fieldset>
		          </form>
		        </div>
		      </div>
			</div>
		</div>
    </body>
</html>