<!DOCTYPE html>
<html>
    <head>
	    <title>AddTest</title>
	    <style type="text/css">
		    input { width: 300px; height:20px; line-height: 20px; border-radius: 5px; margin-right: 100px};
		    label { margin-left: auto;}
		    div.inputText {width:700px; margin-top: 20px;}
	    </style>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <script type="text/javascript">
	        function postParams(params, postPath) {
				$("#postTestForm input").each(function() {
					var name = $(this).attr('id');
					var type = $(this).attr('type');
					if (type === 'checkbox') {
						params[name] = $(this).prop('checked')
					}
					else {
						params[name] = $(this).val();
					}
				});

				$("#postTestForm textarea").each(function() {
					var name = $(this).attr('id');
					params[name] = $(this).val();
				});
				
	        	$.post(postPath, params, function(data){
	        		if (data.url) {
						window.location = data.url;
	        		}
	        		if (data.err) {
	        			alert(data.err);
	        		};
	        	}, "json");
	        }

	        $(document).ready(function() {
	        	var params = <%-JSON.stringify(test)%>;
	        	var editColumns = <%-JSON.stringify(editColumns)%>;
	        	var basePath = <%-JSON.stringify(basePath)%>
	        	var postPath = basePath + '/post';
	        	if (!params) {
	        		params = {};
	        	}

	        	var form = $("<form>").attr({id:"postTestForm", method:"post"});
	        	for (var i in editColumns) {
	        		var columnName = editColumns[i];
	        		var label = $("<label>").text(columnName);
	        		var input;
	        		if (columnName === "content") {
	        			input = $("<textarea>").attr({id:columnName, name:columnName});
		        		if (params.hasOwnProperty(columnName)) {
		        			input.val(params[columnName]);
		        		}	        			
	        		}
	        		else {
	        			input = $("<input>").attr({id:columnName, name:columnName});
		        		if (columnName === "published") {
		        			input.attr({type:"checkbox"});
		        			if (params.hasOwnProperty(columnName)) {
		        				input.prop('checked', params[columnName]);
		        			}
		        		}
		        		else {
		        			input.attr({type:"text"});
			        		if (params.hasOwnProperty(columnName)) {
			        			input.val(params[columnName]);
			        		}
		        		}
	        		}
	        		var div = $("<div>").addClass("inputText");
	        		div.append(label).append(input);
	        		form.append(div);
	        	};

	        	var postBtn = $("<button>").attr({type:"submit"})
	        	postBtn.text("post");
	        	postBtn.click(function() {
	        		postParams(params, postPath);
	        	});

	        	$(document.body).append($("<div>").append(form).append(postBtn));
			});
	    </script>
    </head>
    <body>
    </body>
</html>