<!DOCTYPE html>
<html>
    <head>
    <title>Toeic</title>
    <link rel='stylesheet' type='text/css' href='/style/stylesheet.css'/>
    <style type="text/css">
    	input {float:both; margin-left: 20px; font-size: 16px; border: none; background: none;}
    	input#restore {float:right; margin-right: 20px};
    	hr {color: gray;}
    	.downloadBtn {width:120px; height: 30px; border-width: 1px; border-radius: 2px; border-color:black; margin-top: 0px; margin-bottom: 0px; clear: both; color:white; background-color: #72AB12; font-size:12px;}
    	.cellCover {width:140px; height: 180px;}
    </style>
    <script type="text/javascript">
    	function collectionSelect(category) {
            window.location = "com.alc.topic.supertest.category://" + "category=" + encodeURIComponent(category);
    	}

        function goToPage(pageIndex, category) {
            window.location = "com.alc.topic.supertest.goToPage://" + "page=" + encodeURIComponent(pageIndex) + "&category=" + encodeURIComponent(category); 
        }

        function purchase(test, category) {
            console.log("category :", category);
            window.location = 'com.alc.topic.supertest.purchase://' + "testId=" + encodeURIComponent(test.testId) + "&productId=" + encodeURIComponent(test.productId) + "&category=" + encodeURIComponent(category);
        }

    	function downloadTest(test, category) {
            var json = JSON.stringify(test);

            var form = document.createElement("form");
            form.setAttribute("action", "/downloadTest");
            form.setAttribute("method", "post");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "test");
            hiddenField.setAttribute("value", json);

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
    	}
	</script>
	</head>
	<body>
		<div id='container' style="width:100%; height:100%" style="text-align:center;">
			<div id='header' style="width:100%; text-align:center;">
				<img src='http://www.eurocentres.com/sites/default/files/styles/ec_header_image/public/course_toeic_panorama.jpg?itok=lN6Xrgx4' style="margin:0 auto"  />
			</div>
			<form>
				<input type='button' value='人気 コンテンシ' onclick="collectionSelect('popular')">
				<input type='button' value='マイ ライブラリ' onclick="collectionSelect('myLibrary')">
				<input type='button' value='リストア' onclick="collectionSelect('restore')">
			</form>
			<hr/>

            <% var gridHeight = 250*Math.ceil(testList.length / 4); %>
			<div style="width:100%; height:<%=gridHeight%>px; text-align:center;">
                <div style="position:absolute">
                <% 
                    for (var i = 0; i < testList.length; i++) { 
                    var test = testList[i];
                    var left = 20 + (i % 4) * 140 + ((i % 4) - 1)*10;
                    var top = Math.floor(i/4)*230 + Math.floor(i/4 + 1)*10;
                %>
                    <div style='width:140px; height:230px; float:left; text-align: center; position:absolute; left:<%=left%>px; top:<%=top%>px'>
                        <img src='<%=test.coverImageUrl%>' class='cellCover'>
                        <p style="clear:both; margin-top: 0px; margin-bottom: 0px; font-size:12px;"><%=test.title%></p>
                        <% if(test.status === "downloaded") {%>
                            <button class='downloadBtn' disabled style="background-color: gray">ダウンロード済み</button>
                        <% } else if(test.status === "purchased") { %>
                            <button class='downloadBtn' onclick='downloadTest(<%-JSON.stringify(test)%>, "<%=category%>")'>ダウンロード</button>
                        <% } else { %>
                            <button class='downloadBtn' onclick='purchase(<%-JSON.stringify(test)%>, "<%=category%>")'>¥<%=test.price%></button>
                        <% } %>
                    </div>
                <% } %>
                </div>
			</div>

            <div style="width:100%; height:40px; text-align:center;">
                <% if(prePage) { %>
                    <% var page = pageIndex - 1 %>
                    <button class="page" onclick="goToPage(<%=page%>, '<%=category%>')">
                <% } else { %>
                    <button class="page" disabled>
                <% } %>
                <<<</button>

                <a><%=pageIndex + 1%>/<%=pageCount%></a>

                <% if(nextPage) { %>
                    <% var page = pageIndex + 1 %>
                    <button class="page" onclick="goToPage(<%=page%>, '<%=category%>')">
                <% } else { %>
                    <button class="page" disabled>
                <% } %>
                >>></button>
            </div>
		</div>
	</body>
</html>