<!DOCTYPE html>
<html lang="ja">
    <head>
    <title>Toeic</title>
    <link rel='stylesheet' type='text/css' href='/style/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/style/newsContentStyle.css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        var testList;
        var localTestIds = {};
        var page = 0;
        var category = "popular";
        var selectionCells = {};

        function clientPurchasedProductId(productId) {
            localTestIds["purchasedTestId"].push(productId);
            console.log("refresh local test ",localTestIds);

            for (var i in testList) {
                var test = testList[i];
                if (test.productId === productId) {
                    test.status = "purchased"
                    var testId = test.testId;
                    console.log("puchased testId", testId);

                    var cell = selectionCells[testId];
                    var element = cell.find("button");
                    console.log(element);

                    var newButton = createButtonWith(test);
                    element.remove();
                    cell.append(newButton);
                }
            }
        }

        function clientDownloadedTestId(testId) {
            localTestIds["fetchedTestId"].push(testId);
            console.log("refresh local test ",localTestIds);

            for (var i in testList) {
                var test = testList[i];
                if(test.testId === testId) {
                    console.log("download testId", testId);

                    test.status = "downloaded"
                    var cell= selectionCells[testId];
                    var element = cell.find("button");
                    console.log(element);

                    var newButton = createButtonWith(test);
                    element.remove();
                    cell.append(newButton);
                }
            }
        }

        function updateLocalTestWith(testIds) {
            localTestIds = testIds;
        }

        function clientLoadPageWith(testIds, categoryName) {
            console.log(testIds);
            localTestIds = testIds;
            category = categoryName;
            page = 0;
            refreshCategoryContent(category, page, localTestIds);
        }

        function createButtonWith(test) {
            var downloadBtn;
            if (test.status === "downloaded") {
                downloadBtn = $("<label>");
                downloadBtn.addClass("downloadedLabel").text("ダウンロード済み");
            } else if (test.status === "purchased") {
                downloadBtn = $("<button>");
                downloadBtn.addClass("downloadBtn").text("ダウンロード");
                downloadBtn.click(function(){ 
                    downloadTest(test);
                });
            } else {
                downloadBtn = $("<button>");
                downloadBtn.addClass("purchaseBtn").text("¥" + test.price);
                downloadBtn.click(function(){ 
                    purchaseTest(test);
                });
            }
            return downloadBtn;
        }

        function refreshNewsContent() {
            $("#newsContent").show();
            $("#selectGrid").hide();
            $("#pageControl").hide();

            $.get("/lastNewsContent", function(result){
                if (!result instanceof Array) {
                    return;
                }

                var baseDiv = $("#property-listings div");
                baseDiv.find(".col-sm-6").empty(); 
                var leftDiv = baseDiv.find(".col-sm-6").eq(0);
                var rightDiv = baseDiv.find(".col-sm-6").eq(1);

                for(var i in result) {
                    var news = result[i];
                    var _id = news._id;
                    var title = news.title;
                    var content = news.content;
                    var date = new Date(news.created_at);
                    var dateString = date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + 
                    date.getHours() + "時" + date.getMinutes() + "分";
                    var author = news.author;
                    var image = news.imageUrl;


                    var mediaBox = $("<div>").addClass("brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing");
                    var media = $("<div>").addClass("media");
                    mediaBox.append(media);

                    if (image) {
                        media.append($("<a>").addClass("pull-left"));
                        media.append($("<img>").addClass("img-responsive").attr({alt:"image", src:""}));
                    };

                    media.append($("<div>").addClass("clearfix visible-sm"));
                    var mediaBody = $("<div>").addClass("media-body fnt-smaller");
                    media.append(mediaBody);
                    mediaBody.append($("<a>").attr({href:"#", target:"_parent"}));

                    var h4 = $("<h4>").addClass("media-heading");
                    var a =$("<a>").attr({href:"#", target:"_parent"}).text(title)
                    var small = $("<small>").addClass("pull-right").text(dateString);
                    h4.append(a.append(small));
                    mediaBody.append(h4);

                    mediaBody.append($("<p>").addClass("text-left").text(content));
                    mediaBody.append($("<span>").addClass("fnt-smaller fnt-lighter fnt-arial").text(author));

                    leftDiv.append(mediaBox);
                }
            })
        }

        function refreshCategoryContent(categoryName, page, params) {
            var testIdArray = [];
            var productIdArray = [];
            var testIdsString = "";
            var productIdString = "";
            if (Array.isArray(params.fetchedTestId)) {
                testIdArray = params.fetchedTestId;
                testIdsString = params.fetchedTestId.join(',');
            }
            if (Array.isArray(params.purchasedTestId)) {
                productIdArray = params.purchasedTestId;
                productIdString = params.purchasedTestId.join(',');
            }

            if (categoryName === "news") {
                refreshNewsContent();
                return;
            }

            $("#newsContent").hide();
            $("#selectGrid").show();

            $.get("/testContentPage", {category: categoryName, page:page, fetchedTestId: testIdsString, purchasedTestId: productIdString}, function(data){
                console.log("jaquery :", data);
                testList = data.testList;
                var selectGridDiv = $($("#selectGrid"));
                selectGridDiv.empty();
                var hasPrepage = data.prePage;
                var hasNextpage = data.nextPage;
                var pageCount = data.pageCount;
                delete selectionCells;
                selectionCells = {};

                if (categoryName === "myLibrary" && (!testList.length)) {
                    var frame = $("<div>").css({"text-align":"center", "height":"340px"});
                    var base = $("<div>").css({"width":"100%", "height":"auto", "text-align":"center"});
                    var icon = $("<img>").attr({src:"/images/restore_icon.png"}).css({"margin":"40px auto 0px auto"});
                    var title = $("<div>").addClass("tipTitle").attr({rows:"1"}).text("表示するコンテンツがありません");
                    var content = $("<div>").addClass("tipContent").attr({rows:"3"}).text("［リストア］ボタンをタップし、既にご購入済みのコンテンツは課金されずにダウンロードいただけます。");
                    frame.append(base).append(icon).append(title).append(content);
                    selectGridDiv.append(frame);
                    $("#pageControl").hide();
                }
                else {
                    for (var i in testList) {
                        var test = testList[i];
                        var productId = test["productId"];
                        var testId = test["testId"];

                        if (productIdArray.indexOf(productId) > -1) {
                            test.status = "purchased";
                            console.log(test + " set purchased");
                        }
                        if (testIdArray.indexOf(testId) > -1) {
                            test.status = "downloaded";
                            console.log(test + " set downloaded");
                        }

                        var cell = $("<div>").addClass("cell").css({"float":"left", "margin":"5px 5px 5px 5px"});
                        var imageCover = $("<img>").addClass("imageCover").attr({src:test.coverImageUrl});

                        var tempNode = $("<div>").addClass("title");
                        var title = $("<div>").css({"width": "100%", "height":"40px","margin-top":"5px", "margin-bottom":"5px"}).append(tempNode);
                        tempNode.append($("<span>").text(test.title));
                        var downloadBtn = createButtonWith(test);

                        cell.append(imageCover).append(title).append(downloadBtn);
                        selectGridDiv.append(cell);
                    }
                    selectionCells[testId] = cell;
                    $("#pageControl").show();


                    var preBtn = $(".pagination li").eq(0);
                    var nextBtn = $(".pagination li").eq(2);

                    if (hasPrepage) {
                        preBtn.removeClass("disabled");
                        preBtn.find("a").click(function() {
                            goToPageIndex(page - 1);
                        });
                    }
                    else {
                        preBtn.addClass("disabled");
                        preBtn.find("a").off('click');
                    }

                    if (hasNextpage) {
                        nextBtn.removeClass("disabled");
                        nextBtn.find("a").click(function() {
                            goToPageIndex(page + 1);
                        });
                    }
                    else {
                        nextBtn.addClass("disabled");
                        nextBtn.find("a").off('click');
                    }
                    $(".pagination li a").eq(1).text((page + 1) + "/" + pageCount);
                }
            });
        }

    	function collectionSelect(a) {
            $(".categorySelect").each(function(){
                $(this).css({color:"#222"});
            })
            $(a).css({color:"#999"});

            var categoryName = $(a).attr("name");
            if (categoryName === "restore") {
                window.location = "com.alc.topic.supertest.restore://";
            }
            else {
                page = 0;
                category = categoryName;
                refreshCategoryContent(categoryName, 0, localTestIds);
            }
    	}

        function goToPageIndex(pageIndex) {
            console.log("go to page", pageIndex);
            page = pageIndex;
            refreshCategoryContent(category, pageIndex, localTestIds);
        }

        function purchaseTest(test) {
            console.log("purchase", test);
            window.location = 'com.alc.topic.supertest.purchase://' + "testId=" + encodeURIComponent(test.testId) + "&productId=" + encodeURIComponent(test.productId);
        }

    	function downloadTest(test) {
            var json = JSON.stringify(test);

            var form = document.createElement("form");
            form.setAttribute("action", "/downloadTest");
            form.setAttribute("method", "post");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "test");
            hiddenField.setAttribute("value", json);

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
    	}
	</script>
    <style type="text/css">
        .categorySelect {
          color: #222;
          font-size:14px; 
          font-family:"Hiragino Kaku Gothic ProN";
          margin-top: 10px;
          margin-bottom: 10px; 
        }

        .categorySelect:hover {
            color: #999;
        }
    </style>
	</head>
	<body style="margin: 0; background-color:#EEEEEE">
		<div id='container' style="width:100%; height:100%; text-align:center;">
			<a id='header' style="width:100%; height:280px; text-align:center;" href="http://google.com" target="_self">
				<img src='/images/header_ad.png' style="width:100%; margin:0 auto">
			</a>
            <div style="width:100%; height:28px">
                <a href="#" name="popular" class="categorySelect" onclick="collectionSelect(this)" style="float:left; margin-left:20px">人気 コンテンシ</a>
                <a href="#" name="myLibrary" class="categorySelect" onclick="collectionSelect(this)" style="float:left; margin-left:20px">マイ•ライブラリ</a>
                <a href="#" name="news" class="categorySelect" onclick="collectionSelect(this)" style="float:left; margin-left:20px">ニュース</a>
                <a href="#" name="restore" class="categorySelect" onclick="collectionSelect(this)" style="float:right; margin-right:20px">リストア</a>
            </div>
            <div><hr style="margin-left:20px; margin-right:20px; border-bottom-style:none; border-top-color:#AAAAAA" noshade></div>
            <div id="mainContainer" style="width:600px; text-align:center; margin: 0 auto;">
                <div id="selectGrid" style="width:100%; height:auto" hidden>
                </div>
                <div id="pageControl" class="clearfix" style="width:100%; height:140px; float:left;" hidden>
                    <ul class="pagination pull-center">
                      <li class="disabled"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                      <li class="disabled"><a></a></li>
                      <li class="disabled"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>                                        
                </div>
                <div id="newsContent" hidden>
                    <div class="container-fluid">
                        <div class="container container-pad" id="property-listings">
                            <div class="row">
                                <div class="col-sm-6"> 
                                </div>

                                <div class="col-sm-6">  
                                </div><!-- End Col -->
                            </div><!-- End row -->
                        </div><!-- End container -->
                    <div style="float:left; height:80px">
                    </div>
                    </div>                
                </div>
            </div> 
		</div>
	</body>
</html>