<!DOCTYPE html>
<html lang="ja">
    <head>
    <title>Toeic</title>
    <link rel='stylesheet' type='text/css' href='/style/stylesheet.css'/>
    <link rel='stylesheet' type='text/css' href='/style/newsContentStyle.css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        var testList;
        var localTestIds = {};
        var page = 0;
        var category = "popular";
        var selectionCells = {};

        function clientPurchasedProductId(productId) {
            localTestIds["purchasedTestId"].push(productId);
            console.log("refresh local test ",localTestIds);

            for (var i in testList) {
                var test = testList[i];
                if (test.productId === productId) {
                    test.status = "purchased"
                    var testId = test.testId;
                    console.log("puchased testId", testId);

                    var cell = selectionCells[testId];
                    var element = cell.find("button");
                    console.log(element);

                    var newButton = createButtonWith(test);
                    element.remove();
                    cell.append(newButton);
                }
            }
        }

        function clientDownloadedTestId(testId) {
            localTestIds["fetchedTestId"].push(testId);
            console.log("refresh local test ",localTestIds);

            for (var i in testList) {
                var test = testList[i];
                if(test.testId === testId) {
                    console.log("download testId", testId);

                    test.status = "downloaded"
                    var cell= selectionCells[testId];
                    var element = cell.find("button");
                    console.log(element);

                    var newButton = createButtonWith(test);
                    element.remove();
                    cell.append(newButton);
                }
            }
        }

        function updateLocalTestWith(testIds) {
            localTestIds = testIds;
        }

        function clientLoadPageWith(testIds, categoryName) {
            console.log(testIds);
            localTestIds = testIds;
            category = categoryName;
            page = 0;
            refreshCategoryContent(category, page, localTestIds);
        }

        function createButtonWith(test) {
            var downloadBtn;
            if (test.status === "downloaded") {
                downloadBtn = $("<label>");
                downloadBtn.addClass("downloadedLabel").text("ダウンロード済み");
            } else if (test.status === "purchased") {
                downloadBtn = $("<button>");
                downloadBtn.addClass("downloadBtn").text("ダウンロード");
                downloadBtn.click(function(){ 
                    downloadTest(test);
                });
            } else {
                downloadBtn = $("<button>");
                downloadBtn.addClass("purchaseBtn").text("¥" + test.price);
                downloadBtn.click(function(){ 
                    purchaseTest(test);
                });
            }
            return downloadBtn;
        }

        function refreshNewsContent() {
            $($("#newsContent")).show();
            $($("#selectGrid")).hide();
            $($("#pageControl")).hide();


            $.get("/news/lastContent", function(result){
                if (!result instanceof Array) {
                    return;
                }

                var baseDiv = $("#property-listings div");
                baseDiv.find(".col-sm-6").empty(); 
                var leftDiv = baseDiv.find(".col-sm-6").eq(0);
                var rightDiv = baseDiv.find(".col-sm-6").eq(1);

                for(var i in result) {
                    var news = result[i];
                    var _id = news._id;
                    var title = news.title;
                    var content = news.content;
                    var date = new Date(news.created_at);
                    var dateString = date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + 
                    date.getHours() + "時" + date.getMinutes() + "分";
                    var author = news.author;
                    var image = news.imageUrl;


                    var mediaBox = $("<div>").addClass("brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing");
                    var media = $("<div>").addClass("media");
                    mediaBox.append(media);

                    if (image) {
                        media.append($("<a>").addClass("pull-left"));
                        media.append($("<img>").addClass("img-responsive").attr({alt:"image", src:""}));
                    };

                    media.append($("<div>").addClass("clearfix visible-sm"));
                    var mediaBody = $("<div>").addClass("media-body fnt-smaller");
                    media.append(mediaBody);
                    mediaBody.append($("<a>").attr({href:"#", target:"_parent"}));

                    var h4 = $("<h4>").addClass("media-heading");
                    var a =$("<a>").attr({href:"#", target:"_parent"}).text(title)
                    var small = $("<small>").addClass("pull-right").text(dateString);
                    h4.append(a.append(small));
                    mediaBody.append(h4);

                    mediaBody.append($("<p>").addClass("text-left").text(content));
                    mediaBody.append($("<span>").addClass("fnt-smaller fnt-lighter fnt-arial").text(author));

                    leftDiv.append(mediaBox);
                }
            })
        }

        function refreshCategoryContent(categoryName, page, params) {
            var testIdArray = [];
            var productIdArray = [];
            var testIdsString = "";
            var productIdSstring = "";
            if (Array.isArray(params.fetchedTestId)) {
                testIdArray = params.fetchedTestId;
                testIdsString = params.fetchedTestId.join(',');
            }
            if (Array.isArray(params.purchasedTestId)) {
                productIdArray = params.purchasedTestId;
                productIdSstring = params.purchasedTestId.join(',');
            }

            if (categoryName === "news") {
                refreshNewsContent();
                return;
            }

            $($("#newsContent")).hide();
            $($("#selectGrid")).show();
            $($("#pageControl")).show();

            $.get("/test/contentPage", {category: categoryName, page:page, fetchedTestId: testIdsString, purchasedTestId: productIdSstring}, function(data){
                console.log("jaquery :", data);
                testList = data.testList;
                var baseDiv = $("#selectGrid div");
                baseDiv.remove();

                baseDiv = $("<div style='position:absolute'></div>")
                $("#selectGrid").append(baseDiv);
                delete selectionCells;
                selectionCells = {};

                if (categoryName === "myLibrary" && (!testList.length)) {
                    var frame = $("<div>").css({"text-align":"center", "height":"340px"});
                    var base = $("<div>").css({"width":"100%", "height":"auto", "text-align":"center"});
                    var icon = $("<img>").attr({src:"/images/restore_icon.png"}).css({"margin":"40px auto 0px auto"});
                    var title = $("<div>").addClass("tipTitle").attr({rows:"1"}).text("表示するコンテンツがありません");
                    var content = $("<div>").addClass("tipContent").attr({rows:"3"}).text("［リストア］ボタンをタップし、既にご購入済みのコンテンツは課金されずにダウンロードいただけます。");
                    frame.append(base).append(icon).append(title).append(content);
                    baseDiv.css({"position":"relative"});
                    baseDiv.append(frame);
                    $("#pageControl").hide();
                }
                else {
                    var gridHeight = 290*Math.ceil(testList.length / 4);
                    var leftMargin = Math.floor((600 - 4 * 140 - 3 * 10) / 2.0);
                    $("#selectGrid").height(gridHeight);
                    for (var i in testList) {
                        var test = testList[i];
                        var productId = test["productId"];
                        var testId = test["testId"];

                        if (productIdArray.indexOf(productId) > -1) {
                            test.status = "purchased";
                            console.log(test + " set purchased");
                        }
                        if (testIdArray.indexOf(testId) > -1) {
                            test.status = "downloaded";
                            console.log(test + " set downloaded");
                        }

                        var left = leftMargin + (i % 4) * 140 + (i % 4)*10;
                        var top = Math.floor(i/4)*270 + Math.floor(i/4 + 1)*10;
                        var cell = $("<div>").addClass("cell");
                        cell.css({"float":"left", "text-align": "center", "position":"absolute", "left":left + "px", "top": top + "px"});

                        var imageCover = $("<img>").addClass("cellCover").attr({src:test.coverImageUrl});
                        var title = $("<div>").addClass("title").attr({rows:"2"}).text(test.title);
                        var downloadBtn = createButtonWith(test);

                        cell.append(imageCover).append(title).append(downloadBtn);
                        baseDiv.css({"position":"absolute"});
                        baseDiv.append(cell);

                        selectionCells[testId] = cell;
                    }

                    var pageIndex = data.pageIndex;
                    var pageCount = data.pageCount;

                    $("#pageControl").show();
                    var preBtn = $("#pageControl button")[0]; 
                    var nextBtn = $("#pageControl button")[1];
                    preBtn.disabled = data.prePage ? false : true;
                    nextBtn.disabled = data.nextPage ? false : true;

                    preBtn.onclick = function(){ 
                        goToPageIndex(pageIndex - 1); };
                    nextBtn.onclick = function(){
                        goToPageIndex(pageIndex + 1); };
                    $("#pageControl a").text((pageIndex + 1) + "/" + pageCount);
                }
            });
        }

    	function collectionSelect(button) {
            $(".categoryBtn").each(function(){
                $(this).css({"color":"black"});
            })
            $(button).css({"color":"gray"});
            var categoryName = $(button).attr("id");
            if (categoryName === "restore") {
                window.location = "com.alc.topic.supertest.restore://";
            }
            else {
                page = 0;
                category = categoryName;
                refreshCategoryContent(categoryName, 0, localTestIds);
            }
    	}

        function goToPageIndex(pageIndex) {
            console.log("go to page", pageIndex);
            page = pageIndex;
            refreshCategoryContent(category, pageIndex, localTestIds);
        }

        function purchaseTest(test) {
            console.log("purchase", test);
            window.location = 'com.alc.topic.supertest.purchase://' + "testId=" + encodeURIComponent(test.testId) + "&productId=" + encodeURIComponent(test.productId);
        }

    	function downloadTest(test) {
            var json = JSON.stringify(test);

            var form = document.createElement("form");
            form.setAttribute("action", "/test/download");
            form.setAttribute("method", "post");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "test");
            hiddenField.setAttribute("value", json);

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
    	}
	</script>
	</head>
	<body style="margin: 0; background-color:#EEEEEE">
		<div id='container' style="width:100%; height:100%; text-align:center;">
			<a id='header' style="width:100%; height:280px; text-align:center;" href="http://google.com" target="_self">
				<img src='/images/header_ad.png' style="width:100%; margin:0 auto">
			</a>
            <div style="width:100%; height:27px;">
                <input type='button' id="popular" class="categoryBtn" style="float:left" value='人気 コンテンシ' onclick="collectionSelect(this)">
                <input type='button' id="myLibrary" class="categoryBtn" style="float:left; margin-left:16px" value='マイ•ライブラリ' onclick="collectionSelect(this)">
                <input type='button' id="news" class="categoryBtn" style="float:left; margin-left:16px" value='ニュース' onclick="collectionSelect(this)">
                <input type='button' id="restore" class="categoryBtn" style="width:108px; float:right; background-image:url('/images/restore_btn.png'); background-repeat:no-repeat;" onclick="collectionSelect(this)">
            </div>
            <hr style="margin-left:20px; border-bottom-style:none; border-top-color:#AAAAAA" noshade>

            <div id="mainContainer" style="width:100%; text-align:center;">
                <div id="selectGrid" hidden>
                    <div style="position:absolute">
                    </div>  
                </div>
                <div id="pageControl" style="width:100%; height:40px; text-align:center;" hidden>
                    <button class="page"><<<</button>
                    <a></a>
                    <button class="page">>>></button>
                </div>             
                <div id="newsContent" hidden>
                    <div class="container-fluid">
                        <div class="container container-pad" id="property-listings">
                            <div class="row">
                                <div class="col-sm-6"> 
                                </div>

                                <div class="col-sm-6">  
                                </div><!-- End Col -->
                            </div><!-- End row -->
                        </div><!-- End container -->
                    </div>                
                </div>
            </div> 
		</div>
	</body>
</html>