<!DOCTYPE html>
<html>
	<head>
		<title>Toeic-Super-Test Manager List</title>
	</head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript">
		var basePath = <%-JSON.stringify(basePath)%>

		function reloadList(pageIndex) {
			$.get(basePath +'/api/listData', {page: pageIndex}, function(result){
				var list = result.testList;
				var columnNames = result.columnName;
				var pageCount = result.pageCount;
				var hasPrepage = result.prePage;
				var hasNextpage = result.nextPage;
				var selectColumn = result.selectColumn;

				$("#table tr").remove();
				var columnRow = $("<tr>");

				var columnWidth = 800.0 / columnNames.length;
				for (var i in columnNames) {
					var name = columnNames[i];
					var cell = $("<th>").addClass("capitalize").attr({align:"center"}).css({"width": columnWidth + "px"}).text(name);
					columnRow.append(cell);
				}
				$("#table").append(columnRow);

				for (var i in list) {
					var item = list[i];
					var row = $("<tr>");
					if (i%2) {
						row.css({"background-color": "white"});
					}
					else {
						row.css({"background-color": "#D7D7D7"});
					}

					for(var j in columnNames) {
						var name = columnNames[j];
						var value = item[name];
						var cell = $("<th>").addClass("cell").attr({align:"center"});
						if(name === selectColumn) {
							cell.append($("<a>").attr({href:basePath + "/editPage?_id=" + item["_id"]}).text(value));
						}
						else {
							cell.text(value);
						}
						row.append(cell);
					}

					var deleteBtn = $("<button>").css({"background":"#FF3807", "border-width":"1px", "font-size":"12px", "border-color":"black"}).text("delete");
					bindDeleteButton(deleteBtn, item);
					var cell = $("<th>");
					cell.append(deleteBtn);
					row.append(cell);
					$("#table").append(row);
				}

                var preBtn = $("#pageControl button")[0]; 
                var nextBtn = $("#pageControl button")[1];
                preBtn.disabled = hasPrepage ? false : true;
                nextBtn.disabled = hasNextpage ? false : true;
                preBtn.onclick = function() {
                	reloadList(pageIndex - 1);
                };
                nextBtn.onclick = function() {
                	reloadList(pageIndex + 1);
                };
                $("#pageControl a").text((pageIndex + 1) + "/" + pageCount);
			});
		}

		function bindDeleteButton(btn, item) {
			btn.click(function(){
			    $.post(basePath + '/delete', {_id: item["_id"]}, function(result){
			    	reloadList(0);
			    });
			});
		}

		$(document).ready(function() {
			$("#addBtn")[0].onclick = function() {
				window.location = basePath + "/editPage";
			};
			reloadList(0);
		});
	</script>
	<style type="text/css">
		a {
			font-family: Helvetica;
		}
		table {
			border: none;
			font-family: Helvetica;
		}
    	th.capitalize {
    		text-transform:capitalize;
    	}
    	button.page {
    		border-width:1px;
    		font-size:12px; 
    		border-color:black; 
    	}
	</style>
	<body>
		<div id='container' style="width:100%;">
			<button id="addBtn" style="background:#72AB12; border-width:1px; font-size:12px; border-color:black;">Add</button>
			<hr/>
			<table id='table' width="100%" cellspacing="0" cellpadding="5">
			</table>
			<div id="pageControl" style="width:100%; text-align:center; margin-top:20px">
                <button class="page"><<<</button>
                <a></a>
                <button class="page">>>></button>
			</div>
		</div>		
	</body>
</html>